# Imports

In [1]:
import pandas as pd

# Number of (trainable) Parameters

In [3]:
models = pd.read_csv(r'model_descriptions.csv')

In [4]:
models

                        name  parameters
0            bat_resnext26ts     8702690
1      beit_base_patch16_224    85769674
2      beit_base_patch16_384    85982794
3     beit_large_patch16_224   303415818
4     beit_large_patch16_384   303984138
...                      ...         ...
1012    xcit_tiny_12_p16_384     6525202
1013     xcit_tiny_24_p8_224    11916058
1014     xcit_tiny_24_p8_384    11916058
1015    xcit_tiny_24_p16_224    11925826
1016    xcit_tiny_24_p16_384    11925826

[1017 rows x 2 columns]

In [7]:
shortlist = models.sort_values(by='parameters').iloc[:100]

In [8]:
shortlist

                      name  parameters
366              lcnet_035      376180
451        mobilenetv2_035      408938
461  mobilenetv3_small_050      578474
367              lcnet_050      612666
452        mobilenetv2_050      700490
..                     ...         ...
474        mobilevitv2_100     4393971
456       mobilenetv2_120d     4562954
522             pit_ti_224     4592842
523   pit_ti_distilled_224     4595476
608              repvit_m1     4722948

[100 rows x 2 columns]